<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">EMP ID</label>
                    <input type="text" class="form-control" name="empid" [(ngModel)]="empid">
                </div>
      
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave required date Date</label>
                    <input type="date" class="form-control" name="leave_requireddate" [(ngModel)]="leave_requireddate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave Reason</label>
                    <input type="date" class="form-control" name="leave_reason" [(ngModel)]="leave_reason">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave duration</label>
                    <input type="text" class="form-control" name="leave_duration" [(ngModel)]="leave_duration">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave apply date</label>
                    <input type="text" class="form-control" name="leave_applydate" [(ngModel)]="leave_applydate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="addleave()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
